name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  DOTNET_VERSION: '8.0.x'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Setup .NET
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - run: dotnet restore
    - run: dotnet build --no-restore
    - run: dotnet test NantoNBaiTests/NantoNBaiTests.csproj --no-build --verbosity normal
    - name: Check result
      if: failure()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
      with:
        name: ci-result
        path: NantoNBaiTests/bin
